.temp1_comp1{
    position: absolute;
    top:5.4%;
    left:72.4%;
    width: 23.3rem;
    height: 59rem;
}

.temp1_comp2{
    position: absolute;
    top:5.4%;
    left:31.6%;
    width: 55rem;
    height: 59rem;
}

.section {
    border: 0.5rem dashed white;
    background-color: rgb(85, 85, 85);
}

.rough_comp{
    border: 0.5rem dashed white;
    width: 95%;
    height: 8rem;
    margin: 1rem 0;
}