.resumebuilder__o_body{
    height: 100%;
    background-color: brown;
}

.resumebuilder__left_panel{
    height: 100%;
    width: 23%;
    background-color: green;
    overflow: hidden;
    overflow-y: scroll;
}

.resumebuilder__right_panel{
    height: 100%;
    width: 77%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: cornflowerblue;
}

.resumebuilder__A4{
    height:118.8rem;
    width: 84rem;
    background-color: white;
    box-shadow: 0 0 1rem 0.2rem rgb(109, 109, 109);
    position: absolute;
    margin: 10rem;
}

.resumebuilder__structure {
    width: 80rem;
    height: 60rem;
    background-color: rgb(46, 118, 252);
    border-radius: 0.1rem;
    // border: 0.5rem dashed white;
}

.btn_vd {
    width: 25rem;
    height: 5rem;
    border: none;
    background-color: rgb(71, 190, 194);
    color: white;
    position: absolute;
    top: 80%;
    left: 12%;
    opacity: 0.9
}