._sm_body {
    // background-color: red;
    width: 10rem;
    margin: 0.8rem 0;
    margin-right: 0.5rem;
}

._sm_skill_name {
    width: 9rem;
    // background-color: blue;
    text-align: left;
    margin: 1rem 0.5rem;
    font-size: 1.4rem;
}

._sm_skill_m_holder {
    width: 9rem;
    height: 0.5rem;
    background-color: gray;
    margin: 0 0.5rem;
}

._sm_skill_m_meter{
    background-color: brown;
    height: 100%;
}