._cei_body {
    width: 90%;
    margin: 1rem 0;
}

._cei_body_head {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

._cei_body_body {
    flex-wrap: wrap;
}
._cei_body_c {
    margin: 0.8rem 0;
    margin-right: 0.8rem; 
    font-size: 1.5rem;
    width: 24.2rem;
}

._cei_body_c_yr {

}

._cei_body_c_name {
    font-weight: 500;
}

._cei_body_c_cbname {
    font-style: italic;
}