._ci_body{
    width: 90%;
}

._ci_body_head {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

._ci_body_content {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: .8rem;
    div {
        font-style: italic;
        padding-left: 0.2rem;
    }
}