._ei_body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
}

._temp1_ei_q_head{
    font-weight: 500;
    padding-left: 1rem;
    font-weight: 1.6rem;
    margin-bottom: 1rem;
}

._temp1_ei_q_body {
    display: flex;
    margin: 0.2rem 0;
    padding: 0.2rem 0;
}
._temp1_ei_q_yop {
    width: 10rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 1rem;
    border-right: 0.5rem solid #cdcdcd;
}

._temp1_ei_q_body_sub {
    width: 48.8rem;
    display: inline-block;
    padding-left: 1rem;
}
._temp1_ei_q_sod {
    display: block;
    font-style: italic;
}
._temp1_ei_q_degree {
    width: 10rem;
    font-weight: 500;
}
._temp1_ei_q_instname {
    width: 48.8rem;
    font-weight: 500;
}