._pi_body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 0.1rem solid black;
}

._temp1_pi_fn{
    color: black;
    font-size: 6.0rem;
    padding-left: 1rem;
    display: block;
    font-family: monospace;
}
._temp1_pi_ln{
    color: #918a8a;
    font-size: 2.4rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
    display: block;
    font-family: cursive;
}
._temp1_pi_title{
    color: black;
    font-size: 1.6rem;
    padding-left: 1rem;
    letter-spacing: 0.1rem;
}