._sk_body {
    width: 90%;
    margin: 1rem 0;
}

._sk_body_head {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

._sk_body_c_container {
    width: 100%;
    flex-wrap: wrap;
}