.ac1_panel1{
    position: absolute;
    width: 25.2rem;
    height: 118.8rem;
    background-color: black;
    color: white;
    top: 0%;
    left: 58.8rem;
}

.ac1_panel2{
    position: absolute;
    width: 58.8rem;
    height: 118.8rem;
    background-color: white;
    top: 0%;
    left: 0rem;
}