@import './base/base';
@import './components/componenttab';
@import './components/resumebuilder';
@import './components/flex';
@import './templates/rough/r_template1';
@import './templates/personal_info';
@import './templates/educational_info';
@import './templates/actual/a_template1';
@import './templates/image_info';
@import './templates/contact_info';
@import './templates/summary';
